body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.color {
  width: 4%;
  margin: 0 1% 1% 0;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 5vw;
  margin: 0;
}

.title input {
  font-size: 20px;
  padding: 6px 18px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.buttons h3 {
  margin: 0 10px 0 0;
}

button {
  padding: 6px 18px;
  width: 125px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: none;
  border: 2px solid;
  cursor: pointer;
}

button.active {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
